

$navbar: linear-gradient(to left, #a601a5 50%, #edd1f6 50%);
$purple: #a601a5;
$pink: #ff024c;
$bg: #222;
 * {
  margin: 0;
  padding: 0;
}
main.bg-home{
  min-height: 100vh;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
body{
  background-color: $bg;
}
